*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');

}
.container{
    position: relative;
    background-color: #CAD2C5;
    height: 600px;
    width: 100vw;
}
.header{
    background-color: #2F3D46;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100vw;
}
.fa-github{
    font-size: 35px;
    padding: 20px;
}
.app-name{
    font-size: 20px;
    letter-spacing: 3px;
}
.box-1{
    width: 250px;
    height: 460px;
    background-color: #353535;
    border-radius: 20px;
    padding: 30px;
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: 30%;
   
}
.main{
    display: flex;
    row-gap: 10px;
    flex-wrap: wrap;


   
}
.item-3{
    display: flex;
    column-gap: 30px;
    justify-content: space-between;
}
.item-3-box-1{
    height: 100px;
    width: 200px;
    background-color: #353535;
    border-radius: 15px;
   
}
.item-4{
    height: 170px;
    width: 900px;
    background-color: #353535;
    border-radius: 15px;
    font-weight: bolder;
}
.item-2{
    display: flex;
    row-gap:70px;
    flex-direction: column;
    padding: 30px;
    padding-left: 50px;
    flex-basis: 70%;

}
input{
    background-color: #353535;
    border: none;
    width: 500px;
    height: 50px;
    border-radius: 15px;
    padding-left: 20px;
}
input:focus{
    outline: none;
}
.item-1{
    
}
.input-box{
    text-align: center;
}
.main-2{
    padding-left: 50px;
}